body {
	margin: 0px;
	padding: 0px;
}
input{
	width: 150px;
	height: 20px;
    line-height: 20px;
    border: 1px solid #aaa;
}
.input-container{
	margin: 100px auto;
    width: 200px;
    height: 24px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdown-container {

}

.menu-container {
	border: 1px solid #aaa;
    border-top: none;
}

.menu-list {

}
